<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="parent(content, title)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
    />
    <title th:text="${title}">Base Page</title>
  </head>
  <body>
    <!--common header-->
    <div data-th-replace="navbar :: navbar"></div>
    <div>
      <p>Base Page Content</p>
      <section th:replace="${content}"></section>
    </div>

    <!--common footer-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
