<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="parent(content, title)"
  x-data="{ darkMode: localStorage.getItem('darkMode') === 'true' }"
  x-bind:class="{ 'dark': darkMode }"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            colors: {
              primary: {
                light: "#3b82f6",
                DEFAULT: "#2563eb",
                dark: "#1d4ed8",
              },
            },
          },
        },
      };
    </script>
    <title th:text="${title}">ContactHive</title>
  </head>
  <body class="bg-gray-100 text-gray-900 dark:bg-gray-950 dark:text-white">
    <div data-th-replace="navbar :: navbar"></div>

    <main class="p-4">
      <section class="container mx-auto" th:replace="${content}">
        <p>Base Page Content</p>
      </section>
    </main>

    <footer
      class="bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white py-4"
    >
      <div class="container mx-auto text-center">
        Made with ❤️ by Shiv Deshpande.
      </div>
      <div class="container mx-auto text-center">
        © 2024 ContactHive. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
